{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="{% url 'admin_home' %}" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Open University</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="{% url 'admin_profile' %}" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->

            <li class="nav-item">
              {% url 'admin_home' as admin_home %}
              <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Home
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'manage_clerk' as manage_clerk %}
              {% url 'edit_clerk' clerk_id=id as edit_clerk %}
              <a href="{{ manage_clerk }}" class="nav-link {% if request.path == manage_clerk %} active {% endif %} {% if request.path == edit_clerk %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage Clerk
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_clerk' as add_clerk %}
              <a href="{{ add_clerk }}" class="nav-link {% if request.path == add_clerk %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Clerk
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'manage_suppliers' as manage_suppliers %}
              {% url 'edit_suppliers' suppliers_id=id as edit_suppliers %}
              <a href="{{ manage_suppliers }}" class="nav-link {% if request.path == manage_suppliers %} active {% endif %} {% if request.path == edit_suppliers %} active {% endif %}">
                <i class="nav-icon fas fa-user-graduate"></i>
                <p>
                  Manage Supplier
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'add_suppliers' as add_suppliers %}
              <a href="{{ add_suppliers }}" class="nav-link {% if request.path == add_suppliers %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Supplier
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'manage_coffee_types' as manage_coffee_types %}
              {% url 'edit_coffee_types' coffee_types_id=id as edit_coffee_types %}
              <a href="{{ manage_coffee_types }}" class="nav-link {% if request.path == manage_coffee_types %} active {% endif %} {% if request.path == edit_coffee_types %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard"></i>
                <p>
                  Manage Coffee_type
                </p>
              </a>
            </li>

            <li class="nav-item">
            {% url 'add_coffee_types' as add_coffee_types %}
              <a href="{{ add_coffee_types }}" class="nav-link {% if request.path == add_coffee_types %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Coffee_type
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'manage_batch' as manage_batch %}
              {% url 'edit_batch' batch_id=id as edit_batch %}
              <a href="{{ manage_batch }}" class="nav-link {% if request.path == manage_batch %} active {% endif %} {% if request.path == edit_batch %} active {% endif %}">
                <i class="nav-icon fas fa-book"></i>
                <p>
                  Manage Batch
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'add_batch' as add_batch %}
              <a href="{{ add_batch }}" class="nav-link {% if request.path == add_batch %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Batch
                </p>
              </a>
            </li>


            <li class="nav-item">
              {% url 'manage_season' as manage_season %}
              {% url 'edit_season' season_id=id as edit_season %}
              <a href="{{ manage_season }}" class="nav-link {% if request.path == manage_season %} active {% endif %} {% if request.path == edit_season %} active {% endif %}">
                <i class="nav-icon fas fa-graduation-cap"></i>
                <p>
                  Manage Season 
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'add_season' as add_season %}
              <a href="{{ add_season }}" class="nav-link {% if request.path == add_season %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Season
                </p>
              </a>
            </li>


            <li class="nav-item">
              {% url 'admin_view_attendance' as admin_view_attendance %}
              <a href="{{ admin_view_attendance }}" class="nav-link {% if request.path == admin_view_attendance %} active {% endif %}">
                <i class="nav-icon fas fa-calendar-alt"></i>
                <p>
                  View Attendance
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'suppliers_feedback_message' as suppliers_feedback_message %}
              <a href="{{ suppliers_feedback_message }}" class="nav-link {% if request.path == suppliers_feedback_message %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Supplier Feedback
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'clerk_feedback_message' as clerk_feedback_message %}
              <a href="{{ clerk_feedback_message }}" class="nav-link {% if request.path == clerk_feedback_message %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Clerk Feedback
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'supplier_leave_view' as supplier_leave_view %}
              <a href="{{ supplier_leave_view }}" class="nav-link {% if request.path == supplier_leave_view %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Supplier Leave
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'clerk_leave_view' as clerk_leave_view %}
              <a href="{{ clerk_leave_view }}" class="nav-link {% if request.path == clerk_leave_view %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Clerk Leave
                </p>
              </a>
            </li>

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>