<!doctype html>
<html lang="en">
  <head>
    <title>Coffee Management System</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
     integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
     <link rel="stylesheet" href="index.css">
     <style>
       
     </style>
  </head>
  <body>
    <div class="jumbotron-fluid bg-image text-grey " 
     style="background-image: url(https://images.unsplash.com/photo-1502462041640-b3d7e50d0662?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODV8fHNhdGlzZnlpbmclMjBjb2ZmZWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60); 
     background-size:cover;height:100vh; width:100%; ">
        <div class="container-fluid text-center h-50 ">
        
            <h1 class="display-2 ">Coffee Management System</h1>
            <p class="lead">Quality service</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
            </p>
          </div>
          <section class=" feature-section " >
            <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="feature-item">
                      <i class="fa fa-coffee"></i>
                      <h3>High Quality Coffee Berries</h3>
                      <p>We source our coffee berries from the best farms around the world to ensure that you get the perfect brew every time.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="feature-item">
                      <i class="fa fa-truck"></i>
                      <h3>Fast and Reliable Delivery</h3>
                      <p>We offer fast and reliable delivery services to ensure that you get your coffee berries on time, every time.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="feature-item">
                        <i class="fa fa-money" aria-hidden="false"></i>
                        <h3>Competitive Pricing</h3>
                        <p>Our prices are competitive and we offer discounts for bulk orders to make 
                            sure that you get the best value for your money.</p>
                    </div>
                  </div>
                </div>
              </div>
          </section>
          <!-- Footer -->
        <footer>
            <div class=" text-center  fixed-bottom w-100">
            <div class="row">
                <div class="col">
                <p>&copy; 2023 Coffee Mangement System. <strong>All rights reserved.</strong> </p>
                </div>
            </div>
            </div>
        </footer>  
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://use.fontawesome.com/956429e1e5.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>